################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/CoderBrick/.vs
/CoderBrick/CoderBrick/Bin
/CoderBrick/packages
/.vs/CoderBrick/v15
