################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoderBrick/v15
/CoderBrick/.vs
/CoderBrick/CoderBrick/Bin
/CoderBrick/packages
